.section-title{
	@include em(36);
	font-weight: 300;
	margin-bottom: 1em;
}

.arrow-list{
	list-style: none;
	@include em(18);
	margin-bottom: 50px;

	li{
		position: relative;
		padding-left: 40px;
		margin-bottom: 20px;

		&:before{
			content:"\f105";
			font-family:"FontAwesome";
			width: 30px;
			height:30px;
			border-radius: 50%;
			border: 2px solid $warning;
			display: block;
			position: absolute;
			left:0;
			text-align: center;
			color: $warning;
		}
	}
}

.feature-slider{
	position: relative;
	background: $secondary-color;
	margin-bottom: 30px;
	.slides{
		list-style-type: none;
		@include clearfix;

		li{
			width: 100%;
			margin-right: -100%;
			float: left;
		}

		figure{
			height:500px;
			overflow:hidden;
			img{
				display: block;
				max-width: 100%;
				width: 100%;
				height: 90%;
				object-fit: cover;
				overflow:hidden;
			}
		}

		figcaption{
			height:10%;
			background-color: $secondary-color;
			color: white;
			padding: 10px 120px 10px 20px;

			h3{
				@include em(14);
				margin: 0 0 5px;
			}
			small{
				@include em(12);
				color: #9d9997;
			}
		}
	}

	.flex-direction-nav{
		position: absolute;
		right:0;
		bottom:0;
		width: 120px;
		z-index: 99;
		@include clearfix;
		list-style: none;

		li{
			float: left;
			box-sizing: border-box;

			a{
				border-left: 1px solid #302c2b;
				display: block;
				width: 60px;
				height: 40px;
				text-align: center;
				@include em(24);

			}
		}
	}
}
.fullwidth-block{
	padding: 50px 0;
}
.feature{
	text-align: center;
	margin-bottom: 50px;
	.feature-icon{
		margin-bottom: 20px;
	}
	.feature-title{
		@include em(24);
		font-weight: 400;
		color: $accent-color;
		margin: 10px 0;
	}
}

.post-list{
	@include clearfix;

	.post{
		@include clearfix;
		background: $secondary-color;
		position: relative;
		padding-left: 50%;

		@media screen and (max-width:640px){
			padding-left: 0;
			padding-right: 0;			
		}

		.feature-image,.post-detail{
			img,iframe{
				max-width: 100%;
				display: block;
			}
			iframe{
				height: 335px;
				max-height:100%;
			}
		}

		.feature-image{
			position: absolute;
			left: 0;
			top:0;
			bottom: 0;
			width: 50%;
			background-size: cover;

			@media screen and (max-width:640px){
				position: relative;
				height: 340px;
				width: 100%;
			}
		}
		&:nth-child(2){
			padding-left: 0;
			padding-right: 50%;
			@media screen and (max-width:640px){
				padding-left: 0;
				padding-right: 0;			
			}

			.feature-image{
				left: auto;
				right: 0;
			}
		}
		.post-detail{
			padding: 40px;

			p{
				margin-bottom: 50px;
			}
		}

		.entry-title{
			color: white;
			padding-bottom: 20px;
			position: relative;
			font-weight: 300;

			&:after{
				content:" ";
				width: 40px;
				height: 2px;
				background-color: $accent-color;
				position: absolute;
				bottom: 0;
				left:0;
			}
		}
	}
}

.partners{
	a{
		margin-right: 20px;
		margin-bottom: 30px;
		display:inline-block;
	}
}

//form input
.form__input{
	display: block;
	width: 100%;
	padding: 8px 12px;
	height: 40px;
	font-size: 14px;
	line-height: 1.43;
	color: inherit;
	font-family: inherit;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid $form-input-border-color;
	border-radius: 4px;
	outline: none;
	resize: none;
	background-color: #ffffff;
	transition: border-color ease-in-out .3s,
	box-shadow ease-in-out .3s;
	
	&:focus {
		border-color: lighten($warning, 30%);
		outline: none;
	}
	
	&::-webkit-input-placeholder {
		color: $placeholder-text-color;
	}
	
	&::-moz-placeholder {
		color: $placeholder-text-color;
	}
	&:-ms-input-placeholder {
		color: $placeholder-text-color;
	}
	&:-moz-placeholder {
		color: $placeholder-text-color;
	}
}

//button style
.btn {
	color: inherit;
	display: inline-block;
	padding: 6px 12px;
	line-height: 2;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: none;
	border-radius: 4px;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	font-family: inherit;
	outline: none;
	background-image:none;
	box-shadow: 1px 1px 3px 0 rgba(50, 50, 54, 0.13), 0 0 3px 1px rgba(63, 63, 68, 0.05);
	&:active {
		outline: none;
		box-shadow: none;
		opacity: 0.7;
	}
	&--primary{
		background-color: $warning;
		color:white;
		font-weight:bold;
	}
	&:hover{
		background: lighten($warning, 10%);
	}
	
	&--block{
		width:100%;
	}
	&--lg{
		padding:10px 20px;
		font-size:16px;
	}
}

