/*
 * Footer Styles
 */

.site-footer{
	padding: 50px 0;
	.container{
		border-top: 1px solid #cfcfcf;
		text-align: center;

		p{margin: 20px 0 0px}
	}
}

.social-links{
	margin-top: 20px;
	
	
	a{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		padding-top: 10px;
		@include em(18);
		display: inline-block;
		margin: 0 5px;
		text-align: center;
		color: white;
		line-height: normal;

		&.facebook{
			background-color: #204385;
		}
		&.twitter{
			background-color: #2aa9e0;
		}
		&.instagram{
			background-color: #cd486b;
		}
		&.linkedin{
			background-color: #007bb5;
		}
	}


}